force-app/main/default/flows/Master_Flow_Select_Topic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Sets values in TopicCollectionVar which is further used in {!DisplayedTopics} collection set shown on the screen</description>
        <name>Assign_Topics_Selection</name>
        <label>Assign Topics Selection</label>
        <locationX>965</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>TopicCollectionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Topics</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Interview_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>creation_failed</name>
        <label>creation failed</label>
        <locationX>1029</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>failed </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Warnings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_topics_failed</name>
        <label>Get topics failed</label>
        <locationX>810</locationX>
        <locationY>365</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>no_topics</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Warnings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>no_contact_assignment</name>
        <label>no contact assignment</label>
        <locationX>596</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>no_contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Warnings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Removes the selected topic from the TopicCollectionVar (used in the collection choice set on the screen), so in the next iteration the collection choice set will show only unselected Topics.</description>
        <name>remove_selected</name>
        <label>remove selected</label>
        <locationX>1428</locationX>
        <locationY>966</locationY>
        <assignmentItems>
            <assignToReference>TopicCollectionVar</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Selected_Topic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interview_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Skipped_Topic</name>
        <label>Remove Skipped Topic</label>
        <locationX>1248</locationX>
        <locationY>846</locationY>
        <assignmentItems>
            <assignToReference>TopicCollectionVar</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Selected_Topic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_topics</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>success_assignment</name>
        <label>success assignment</label>
        <locationX>1359</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Warnings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_IS_failed</name>
        <label>update IS failed</label>
        <locationX>1247</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>update IS failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Warnings</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Filters only relevant topics based which vacancy type matches the vacancy type on the vacancy.</description>
        <name>Filter_Topics</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Topics</label>
        <locationX>745</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>currentItem_Filter_Topics</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Topics</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Topics.Vacancy_Type__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>Get_Contacts.Account.Vacancy_Type__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>check_if_no_topics</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filters Record Collection Variable - Interview Question Topics from Filter_Topic to show only the topic which was selected on the previous screen.</description>
        <name>Selected_Topic</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Selected Topic</label>
        <locationX>1428</locationX>
        <locationY>715</locationY>
        <assignNextValueToReference>currentItem_Selected_Topic</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Filter_Topics</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Selected_Topic.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Topics</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Skip_Selected_Topic</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>check_if_no_contacts</name>
        <label>check if no contacts</label>
        <locationX>521</locationX>
        <locationY>529</locationY>
        <defaultConnector>
            <targetReference>Get_Topics</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no_contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>no_contact_assignment</targetReference>
            </connector>
            <label>no contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_no_topics</name>
        <label>check if no topics</label>
        <locationX>855</locationX>
        <locationY>541</locationY>
        <defaultConnector>
            <targetReference>Assign_Topics_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no_topics</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Topics</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_topics_failed</targetReference>
            </connector>
            <label>no topics</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Selected_Topic</name>
        <label>Skip Selected Topic</label>
        <locationX>1420</locationX>
        <locationY>847</locationY>
        <defaultConnector>
            <targetReference>remove_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Topic No</defaultConnectorLabel>
        <rules>
            <name>Skip_Topic_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkipSelectedTopic.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_Topic</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Skipped_Topic</targetReference>
            </connector>
            <label>Skip Topic Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DisplayedTopics</name>
        <collectionReference>TopicCollectionVar</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Interview_Question_Topic__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_HighPotential</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>High_Potential__c</picklistField>
        <picklistObject>Interview_Summary__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_Level</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Level__c</picklistField>
        <picklistObject>Interview_Summary__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_PotentiallyHire</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Potentially_Hire__c</picklistField>
        <picklistObject>Interview_Summary__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_TechnicalEnglish</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Technical_English__c</picklistField>
        <picklistObject>Interview_Summary__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>[Spike] Master Flow - Select Topic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1. Master Flow - Select Topic</label>
    <loops>
        <description>Loop through all filtered topics.</description>
        <name>Loop_through_topics</name>
        <label>Loop through topics</label>
        <locationX>1170</locationX>
        <locationY>531</locationY>
        <collectionReference>Filter_Topics</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Display_Topics</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collect_data_for_IS_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates Interview Summary as a child record of the current contact record, which is further used to attach the Interview Answers to.</description>
        <name>Create_Interview_Summary</name>
        <label>Create Interview Summary</label>
        <locationX>1063</locationX>
        <locationY>531</locationY>
        <assignRecordIdToReference>SummaryID</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_through_topics</targetReference>
        </connector>
        <faultConnector>
            <targetReference>creation_failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Interviewee__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Interview_Summary__c</object>
    </recordCreates>
    <recordLookups>
        <description>Get current contact record. It is further used in the &apos;Filter Topics&apos; to look up to the Vacancy and crosscheck the Vacancy Type against the same field on Interview question topic.</description>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>418</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_no_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Topics</name>
        <label>Get Topics</label>
        <locationX>649</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Topics</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Interview_Question_Topic__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Interview_Summary</name>
        <label>Update Interview Summary</label>
        <locationX>1448</locationX>
        <locationY>517</locationY>
        <connector>
            <targetReference>success_assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>update_IS_failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SummaryID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Gaps__c</field>
            <value>
                <elementReference>Gaps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_Potential__c</field>
            <value>
                <elementReference>High_Potential</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <elementReference>Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Potentially_Hire__c</field>
            <value>
                <elementReference>Potentially_Hire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary_of_Qualification__c</field>
            <value>
                <elementReference>Summary_of_Qualification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technical_English__c</field>
            <value>
                <elementReference>Technical_English</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Years_of_Experience__c</field>
            <value>
                <elementReference>Years_of_Experience</elementReference>
            </value>
        </inputAssignments>
        <object>Interview_Summary__c</object>
    </recordUpdates>
    <screens>
        <description>Screen to collect additional data and update Interview Summary.</description>
        <name>Collect_data_for_IS_record</name>
        <label>Collect data for IS record</label>
        <locationX>1287</locationX>
        <locationY>521</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Interview_Summary</targetReference>
        </connector>
        <fields>
            <name>Summary_of_Qualification</name>
            <fieldText>Summary of Qualification</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Years_of_Experience</name>
            <dataType>Number</dataType>
            <fieldText>Years of Experience</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Level</name>
            <choiceReferences>var_Level</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gaps</name>
            <fieldText>Gaps</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Technical_English</name>
            <choiceReferences>var_TechnicalEnglish</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Technical English</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>High_Potential</name>
            <choiceReferences>var_HighPotential</choiceReferences>
            <dataType>String</dataType>
            <fieldText>High Potential</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Potentially_Hire</name>
            <choiceReferences>var_PotentiallyHire</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Potentially Hire</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays a collection choice set - from TopicCollectionVar variable.</description>
        <name>Display_Topics</name>
        <label>Display Topics</label>
        <locationX>1314</locationX>
        <locationY>716</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Topic</targetReference>
        </connector>
        <fields>
            <name>Topics</name>
            <choiceReferences>DisplayedTopics</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Topics</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SkipSelectedTopic</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to skip the selected Topic?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>yes</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>All warnings and success message on the screen (have conditional visibility based on the &apos;result&apos; text variable).</description>
        <name>Warnings</name>
        <label>Warnings</label>
        <locationX>879</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>no_contacts_text</name>
            <fieldText>&lt;p&gt;No candidate is found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>result</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>no_contacts</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>no_IS_created_text</name>
            <fieldText>&lt;p&gt;Sorry, no Interview Summary record has been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>result</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>failed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>no_topics_error_message</name>
            <fieldText>&lt;p&gt;Sorry, no topics were found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>result</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>no_topics</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>update_IS</name>
            <fieldText>&lt;p&gt;Sorry, we couldn&apos;t update the &lt;a href=&quot;/SummaryID&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Interview Summary&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>result</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>update IS failed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>success_text</name>
            <fieldText>&lt;p&gt;You have completed the interview. An &lt;a href=&quot;/{!SummaryID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Interview Summary&lt;/a&gt; record has been created with the related Interview Answers.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>result</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>success</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>505</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Interview_Questions</name>
        <label>Interview Questions</label>
        <locationX>1159</locationX>
        <locationY>966</locationY>
        <connector>
            <targetReference>Loop_through_topics</targetReference>
        </connector>
        <flowName>Subflow_Interview_Questions</flowName>
        <inputAssignments>
            <name>SummaryID</name>
            <value>
                <elementReference>SummaryID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TopicVar</name>
            <value>
                <elementReference>Topics</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Filter_Topics</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interview_Question_Topic__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Selected_Topic</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interview_Question_Topic__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SummaryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TopicCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interview_Question_Topic__c</objectType>
    </variables>
    <variables>
        <name>TopicRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interview_Question_Topic__c</objectType>
    </variables>
</Flow>
