force-app/main/default/flows/Schedued_Message_To_Owner_Of_Blank_Answer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Custom_Notification_To_Owner</name>
        <label>Send Custom Notification To Owner</label>
        <locationX>440</locationX>
        <locationY>1356</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Message_Text_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Dear {!OwnerName}! Please fill the Answer on the Interview Question: {!MessageText}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Please correct {!EmptyAnswersQty} question answers.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIdList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <stringValue>{     type: &quot;standard__objectPage&quot;,     attributes: {         objectApiName: &quot;Interview_Question__c&quot;,         actionName: &quot;list&quot;     } }</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_To_Owner_0</name>
        <label>Send Custom Notification To Owner</label>
        <locationX>308</locationX>
        <locationY>2580</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Dear {!OwnerName}! Please fill the Answer on the Interview Question: {!MessageText}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Please correct {!EmptyAnswersQty} question answers.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIdList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <stringValue>{     type: &quot;standard__objectPage&quot;,     attributes: {         objectApiName: &quot;Interview_Question__c&quot;,         actionName: &quot;list&quot;     } }</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Concatenate_Message_Text</name>
        <label>Concatenate Message Text</label>
        <locationX>704</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>MessageText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> {!Interview_Questions_Loop.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmptyAnswersQty</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interview_Questions_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concatenate_Message_Text_0</name>
        <label>Concatenate Message Text</label>
        <locationX>352</locationX>
        <locationY>1692</locationY>
        <assignmentItems>
            <assignToReference>MessageText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> {!Interview_Questions_Loop.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmptyAnswersQty</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_Email_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Message_Text</name>
        <label>Message Text To Defaults</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>MessageText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmptyAnswersQty</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Notification_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Message_Text_0</name>
        <label>Message Text To Defaults</label>
        <locationX>440</locationX>
        <locationY>1476</locationY>
        <assignmentItems>
            <assignToReference>MessageText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmptyAnswersQty</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concatenate_Message_Text_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Owner_Email_0</name>
        <label>Owner Email</label>
        <locationX>352</locationX>
        <locationY>1812</locationY>
        <assignmentItems>
            <assignToReference>OwnerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interview_Questions_Loop.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_New_Owner_Id_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Owner_Id_default_Value</name>
        <label>Owner Id default Value</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Message_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Owner_Id_0</name>
        <label>Set New Owner Id</label>
        <locationX>352</locationX>
        <locationY>1932</locationY>
        <assignmentItems>
            <assignToReference>OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interview_Questions_Loop.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interview_Questions_Loop.Owner:User.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interview_Questions_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Owner_Id_List</name>
        <label>Set Owner Id List</label>
        <locationX>440</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>OwnerIdList</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification_To_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Owner_Id_List_0</name>
        <label>Set Owner Id List</label>
        <locationX>308</locationX>
        <locationY>2460</locationY>
        <assignmentItems>
            <assignToReference>OwnerIdList</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIdList</assignToReference>
            <operator>RemoveFirst</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification_To_Owner_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Answer_Blank</name>
        <label>If Answer Blank</label>
        <locationX>748</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Interview_Questions_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Answer_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IfBlankText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Other_Owner</targetReference>
            </connector>
            <label>If Answer Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Message_Text_Is_Empty</name>
        <label>If Message Text Is Empty</label>
        <locationX>352</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Set_Owner_Id_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Text_is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MessageText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concatenate_Message_Text_0</targetReference>
            </connector>
            <label>Text is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Message_Text_Is_Empty_0</name>
        <label>If Message Text Is Empty</label>
        <locationX>176</locationX>
        <locationY>2340</locationY>
        <defaultConnector>
            <targetReference>Set_Owner_Id_List_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Text_is_Empty_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MessageText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Text is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Other_Owner</name>
        <label>If Other Owner</label>
        <locationX>528</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <targetReference>Concatenate_Message_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Interview_Questions_Loop.Owner:User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Message_Text_Is_Empty</targetReference>
            </connector>
            <label>Owner Is New</label>
        </rules>
    </decisions>
    <description>Ones a week we check for blank answers in Interview Question table and send invitation to fill them.</description>
    <formulas>
        <name>IfBlankText</name>
        <dataType>Boolean</dataType>
        <expression>if(ISBLANK({!Interview_Questions_Loop.Answer__c}),true , false)</expression>
    </formulas>
    <interviewLabel>Schedued Message To Owner Of Blank Answer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedued Message To Owner Of Blank Answer</label>
    <loops>
        <name>Interview_Questions_Loop</name>
        <label>Interview Questions Loop</label>
        <locationX>176</locationX>
        <locationY>756</locationY>
        <collectionReference>Get_Interview_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Answer_Blank</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Message_Text_Is_Empty_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Interview_Questions</name>
        <label>Get Interview Questions</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Id_default_Value</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Interview_Question__c</object>
        <sortField>OwnerId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>176</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interview_Questions_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_To_Owner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Interview_Questions</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2022-07-26</startDate>
            <startTime>12:35:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>EmptyAnswersQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MessageText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Interview_Questions_Loop.Owner:User.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Interview_Questions_Loop.Owner:User.FirstName</elementReference>
        </value>
    </variables>
    <variables>
        <name>OwnerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
