force-app/main/default/flows/Subflow_Interview_Questions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Adds All interview Answers in a Record Collection Variable - &apos;InterviewAnswers&apos; for the use of create multiple records.</description>
        <name>Assign_All_Answers</name>
        <label>Assign All Answers</label>
        <locationX>916</locationX>
        <locationY>1146</locationY>
        <assignmentItems>
            <assignToReference>InterviewAnswers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InterviewAnswer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_not_evaluated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values for each Interview Answer.</description>
        <name>Assign_Answer</name>
        <label>Assign Answer</label>
        <locationX>916</locationX>
        <locationY>959</locationY>
        <assignmentItems>
            <assignToReference>InterviewAnswer.Interview_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummaryID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterviewAnswer.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_questions.Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterviewAnswer.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterviewAnswer.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Grade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterviewAnswer.Topic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_questions.Interview_Question_Topic__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_All_Answers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>creation_of_answers_failed</name>
        <label>creation of answers failed</label>
        <locationX>947</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>failed interview answers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Warnings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>no_questions_assignment</name>
        <label>no questions assignment</label>
        <locationX>683</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_questions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Warnings</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Filters out any interview answers which have &apos;Not Evaluated&apos; value in &apos;Grade&apos;</description>
        <name>Check_if_not_evaluated</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Check if not evaluated</label>
        <locationX>748</locationX>
        <locationY>1206</locationY>
        <assignNextValueToReference>currentItem_Check_if_not_evaluated</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>InterviewAnswers</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Check_if_not_evaluated.Grade__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Not evaluated</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Create_New_Interview_Question</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filters interview questions which has the same Topic as the one selected in the master flow (ID of the selected topic is passed in TopicVar text variable).</description>
        <name>Filter_selected_topics</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter selected topics</label>
        <locationX>593</locationX>
        <locationY>525</locationY>
        <assignNextValueToReference>currentItem_Filter_selected_topics_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Interview_Questions</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_selected_topics_0.Interview_Question_Topic__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>TopicVar</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_if_no_questions</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_if_no_questions</name>
        <label>Check if no questions</label>
        <locationX>715</locationX>
        <locationY>534</locationY>
        <defaultConnector>
            <targetReference>loop_through_questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_questions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Interview_Questions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>no_questions_assignment</targetReference>
            </connector>
            <label>No questions</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the toggle on the screen is active or not. If active launches the subflow for creation of new question - &apos;3. Subflow - New Questions&apos;</description>
        <name>Create_New_Interview_Question</name>
        <label>Create New Interview Question</label>
        <locationX>753</locationX>
        <locationY>1048</locationY>
        <defaultConnector>
            <targetReference>loop_through_questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateNewQuestion.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Questions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>var_grade</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Grade__c</picklistField>
        <picklistObject>Interview_Answer__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_Level</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Level__c</picklistField>
        <picklistObject>Interview_Summary__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Subflow - Interview Questions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>2. Subflow - Interview Questions</label>
    <loops>
        <name>loop_through_questions</name>
        <label>loop through questions</label>
        <locationX>841</locationX>
        <locationY>533</locationY>
        <collectionReference>Filter_selected_topics</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Display_Questions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Interview_Answers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create all interview answers which don&apos;t have not evaluated in Grade from Filter Collection - &apos;Interview Answers from Check_if_not_evaluated&apos;</description>
        <name>Create_Interview_Answers</name>
        <label>Create Interview Answers</label>
        <locationX>1024</locationX>
        <locationY>541</locationY>
        <faultConnector>
            <targetReference>creation_of_answers_failed</targetReference>
        </faultConnector>
        <inputReference>Check_if_not_evaluated</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets all interview questions.</description>
        <name>Get_Interview_Questions</name>
        <label>Get Interview Questions</label>
        <locationX>422</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_selected_topics</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Interview_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Goes through each question from the loop. Has a toggle which triggers the launch of subflow - &apos;3. Subflow - New Questions&apos; if active.</description>
        <name>Display_Questions</name>
        <label>Display Questions</label>
        <locationX>912</locationX>
        <locationY>788</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Answer</targetReference>
        </connector>
        <fields>
            <name>Question</name>
            <fieldText>&lt;p&gt;{!loop_through_questions.Question__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Default_answer</name>
            <fieldText>&lt;p&gt;{!loop_through_questions.Answer__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Grade</name>
            <choiceReferences>var_grade</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Grade</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CreateNewQuestion</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create a new question?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warnings</name>
        <label>Warnings</label>
        <locationX>855</locationX>
        <locationY>251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>no_questions_text</name>
            <fieldText>&lt;p&gt;No interview questions were found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>result</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No_questions</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>no_IA_created_text</name>
            <fieldText>&lt;p&gt;Sorry, no Interview Answers have been created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>result</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>failed interview answers</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>507</locationY>
        <connector>
            <targetReference>Get_Interview_Questions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>New_Questions</name>
        <label>New Questions</label>
        <locationX>604</locationX>
        <locationY>912</locationY>
        <connector>
            <targetReference>loop_through_questions</targetReference>
        </connector>
        <flowName>Subflow_New_Questions</flowName>
        <inputAssignments>
            <name>summaryId</name>
            <value>
                <elementReference>SummaryID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TopicId</name>
            <value>
                <elementReference>TopicVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Check_if_not_evaluated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interview_Answer__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_selected_topics_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interview_Question__c</objectType>
    </variables>
    <variables>
        <name>InterviewAnswer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Interview_Answer__c</objectType>
    </variables>
    <variables>
        <name>InterviewAnswers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Interview_Answer__c</objectType>
    </variables>
    <variables>
        <name>result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SummaryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TopicVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
