force-app/main/default/flows/Subflow_New_Questions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Add_a_new_Interview_Question</name>
        <label>Add a new Interview Question?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddNewQuestion.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Interview_Question</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GradePicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Grade__c</picklistField>
        <picklistObject>Interview_Answer__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TopicChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Interview_Question_Topic__c</object>
        <outputAssignments>
            <assignToReference>TopicNameVar</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>3. Subflow - New Questions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>3. Subflow - New Questions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Interview_Answer</name>
        <label>Create New Interview Answer</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Add_a_new_Interview_Question</targetReference>
        </connector>
        <inputAssignments>
            <field>Grade__c</field>
            <value>
                <elementReference>Grade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview_Summary__c</field>
            <value>
                <elementReference>summaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <elementReference>Question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Topic__c</field>
            <value>
                <elementReference>TopicNameVar</elementReference>
            </value>
        </inputAssignments>
        <object>Interview_Answer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Interview_Question</name>
        <label>Create New Interview Question</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>Creation_Source__c</field>
            <value>
                <stringValue>During Interview</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview_Question_Topic__c</field>
            <value>
                <elementReference>Topic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <elementReference>Question</elementReference>
            </value>
        </inputAssignments>
        <object>Interview_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <description>Screen to collect information for a new question which is used for the creation of Interview Answer. Topic defaults to the topic selected in the master flow,  but can be changed if needed. If toggle is active - the flow creates Interview Question as well.</description>
        <name>Create_a_new_question</name>
        <label>Create a new question</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Interview_Answer</targetReference>
        </connector>
        <fields>
            <name>Question</name>
            <fieldText>Question</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Topic</name>
            <choiceReferences>TopicChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TopicId</elementReference>
            </defaultValue>
            <fieldText>Topic</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grade</name>
            <choiceReferences>GradePicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Grade</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AddNewQuestion</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to add this question to the Interview Questions for future use?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_a_new_question</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>summaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TopicId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TopicNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
